<div class="progress" style="height: {{ Size }}px; margin: 0;">
    <div class="progress-bar {{ ColorDone }}" style="width: {{ Done }}%;">
        <span class="sr-only">{{ Done }}% Done</span>
    </div>
    <div class="progress-bar {{ ColorWork }} progress-bar-striped active" style="width: {{ Work }}%;">
        <span class="sr-only">{{ Work }}% Work</span>
    </div>
    <div class="progress-bar {{ ColorPlan }}" style="width: {{ Plan }}%; background-color: #DDD;">
        <span class="sr-only">{{ Plan }}% Plan</span>
    </div>
</div>
