<div class="thumbnail">
    <img class="img-responsive {{ Type }}" src="{{ File }}" height="{{ Height }}">

    <div class="caption text-center">
        {% if( Title|length > 0) %}
            <h4>{{ Title }}</h4>
        {% endif %}
        {% if( Description|length > 0) %}
            <small class="text-muted">{{ Description }}</small>
        {% endif %}
        {% if( ButtonList|length > 0) %}
            <p>
                {% for Button in ButtonList %}
                    {{ Button }}
                {% endfor %}
            </p>
        {% endif %}
    </div>
</div>
