<div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-body" style="padding: 5px;">
        <div class="Video-{{ Hash }} is-splash"
             style="background-image: url('{{ Splash }}'); display: none;">
            <video>
                <source type="{{ MimeType }}" src="{{ Source }}">
            </video>
        </div>
    </div>
</div>

<script type="text/javascript">
    //noinspection JSUnresolvedFunction
    executeScript(function()
    {
        Client.Use('ModVideo', function()
        {
            $(".Video-{{ Hash }}").flowplayer().show();
        });
    });
</script>
