<a id="{{ Hash }}" href="{{ ElementPath }}" class="{{ ElementType }}" data-trigger="hover" data-toggle="popover"
   data-content="{{ ElementToolTip }}" title="{{ ElementName }}" rel="external">{{ ElementIcon }} {{ ElementName }}</a>

<script language=javascript>
    //noinspection JSUnresolvedFunction
    executeScript(function()
    {
        {% if RedirectTimeout is not empty %}
        Client.Use("ModAlways", function()
        {
            jQuery("a#{{ Hash }}").on("click", function()
            {
                $("a#{{ Hash }}").html(
                    '<span class="loading-indicator-animate"></span> Bitte warten'
                );
                setTimeout("location.href='{{ UrlBase }}{{ RedirectRoute }}'", {{ RedirectTimeout }}000);
            });
        });
        {% endif %}
    });
</script>
