<a id="{{ Hash }}" href="{{ ElementPath }}" class="{{ ElementType }}" data-trigger="hover" data-toggle="popover"
   data-content="{{ ElementToolTip }}" title="{{ ElementName }}" rel="external">{{ ElementIcon }} {{ ElementName }}</a>

<script language=javascript>
    //noinspection JSUnresolvedFunction
    executeScript(function()
    {
        Client.Use("ModAlways", function()
        {
            $('a#{{ Hash }}[data-toggle="popover"]').popover({
                placement: 'auto top'
            });
            {% if RedirectTimeout is not empty %}
            jQuery("a#{{ Hash }}").on("click", function ()
            {
                $("a#{{ Hash }}").html(
                    '<span class="loading-indicator-animate"></span> Bitte warten'
                );
                setTimeout("location.href='{{ UrlBase }}{{ RedirectRoute }}'", {{ RedirectTimeout }}000);
            });
            {% endif %}
        });
    });
</script>
