{% if( Disabled is empty ) %}
    <a id="{{ ElementHash }}" href="{{ UrlBase }}{{ ElementPath }}" class="{{ ElementType }}" data-toggle="tooltip" data-container="body"
       title="{{ ElementToolTip }}">{{ ElementIcon }} {{ ElementName }}</a>
    {% if( AjaxEventClick is not empty ) %}
    <script language=javascript>
        //noinspection JSUnresolvedFunction
        executeScript(function()
        {
            Client.Use("ModAjax", function()
            {
                jQuery("a#{{ ElementHash }}").on("click", function(Event) {
                    Event.preventDefault();
                    var DisableLink = jQuery(this);
                    DisableLink.data("href", DisableLink.attr("href")).removeAttr("href");
                    DisableLink.addClass('disabled');
                    setTimeout(function() {
                        DisableLink.attr("href", DisableLink.data("href"));
                        DisableLink.removeClass('disabled');
                    }, 1000);
                    {{ AjaxEventClick }}
                });
            });
        });
    </script>
    {% endif %}
{% else %}
    <a href="#" class="{{ ElementType }}" data-toggle="tooltip" data-container="body"
       title="{{ ElementToolTip }}" disabled>{{ ElementIcon }} {{ ElementName }}</a>
{% endif %}
