{% if( Disabled is empty ) %}
    <a id="{{ ElementHash }}" href="{{ UrlBase }}{{ ElementPath }}" class="{{ ElementType }}" data-trigger="hover"
       data-toggle="popover" data-content="{{ ElementToolTip }}"
    >{{ ElementIcon }} {{ ElementName }}</a>
    <script language=javascript>
        //noinspection JSUnresolvedFunction
        executeScript(function()
        {
            Client.Use("ModAlways", function ()
            {
                $('a#{{ ElementHash }}[data-toggle="popover"]').popover({
                    placement: 'auto top'
                });
            });
            {% if( AjaxEventClick is not empty ) %}
            Client.Use("ModAjax", function ()
            {
                jQuery("a#{{ ElementHash }}").on("click", function (Event)
                {
                    Event.preventDefault();
                    {{ AjaxEventClick }}
                });
            });
            {% endif %}
        });
    </script>
{% else %}
    <a href="#" class="{{ ElementType }}" data-trigger="hover" data-toggle="popover"
       data-content="{{ ElementToolTip }}" disabled>{{ ElementIcon }} {{ ElementName }}</a>
{% endif %}
