<button type="submit" class="btn btn-{{ Type }}" name="Button[Submit]" value="{{ Name }}"
        {% if( TabIndex is not empty ) %}tabindex="{{ TabIndex }}"{% endif %}>
    {% if( Icon is not empty ) %}{{ Icon }}{% endif %}
    {{ Name }}
</button>
