{% if( TableTitle is not empty ) %}
    {{ TableTitle }}
{% endif %}
<style>table#table_{{ Hash }} div.form-group{width: 100%;}</style>
<table id="table_{{ Hash }}" class="table tableFixHead table-bordered table-condensed table-striped form-inline" style="margin-bottom: 8px;">
    <thead>
    {% for TableHead in HeadList %}
        {% for TableRow in TableHead.getTableRow %}
            <tr>
                {% for TableColumn in TableRow.getTableColumn %}
                    {% if(TableColumn.getSize>1) and (TableColumn.getWidth != 'auto') %}
                        <th colspan="{{ TableColumn.getSize }}"
                            style="width:{{ TableColumn.getWidth }};
                                padding: {{ TableColumn.getPadding }};
                                background-color:{{ TableColumn.getBackgroundColor }};
                                color:{{ TableColumn.getColor }};
                                vertical-align:{{ TableColumn.getVerticalAlign }};
                                opacity: {{ TableColumn.getOpacity }};
                                height: {{ TableColumn.getMinHeight }};
                            ">{{ TableColumn }}</th>
                    {% elseif(TableColumn.getSize>1) %}
                        <th colspan="{{ TableColumn.getSize }}"
                            style="
                                padding: {{ TableColumn.getPadding }};
                                background-color:{{ TableColumn.getBackgroundColor }};
                                color:{{ TableColumn.getColor }};
                                vertical-align:{{ TableColumn.getVerticalAlign }};
                                opacity: {{ TableColumn.getOpacity }};
                                height: {{ TableColumn.getMinHeight }};
                            ">{{ TableColumn }}</th>
                    {% elseif(TableColumn.getWidth != 'auto') %}
                        <th style="width:{{ TableColumn.getWidth }};
                            padding: {{ TableColumn.getPadding }};
                            background-color:{{ TableColumn.getBackgroundColor }};
                            color:{{ TableColumn.getColor }};
                            vertical-align:{{ TableColumn.getVerticalAlign }};
                            opacity: {{ TableColumn.getOpacity }};
                            height: {{ TableColumn.getMinHeight }};
                        ">{{ TableColumn }}</th>
                    {% else %}
                        <th style="
                            padding: {{ TableColumn.getPadding }};
                            background-color:{{ TableColumn.getBackgroundColor }};
                            color:{{ TableColumn.getColor }};
                            vertical-align:{{ TableColumn.getVerticalAlign }};
                            opacity: {{ TableColumn.getOpacity }};
                            height: {{ TableColumn.getMinHeight }};
                        ">{{ TableColumn }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
    </thead>
    {% for TableBody in BodyList %}
        <tbody>
        {% for TableRow in TableBody.getTableRow %}
            <tr>
                {% for TableColumn in TableRow.getTableColumn %}
                    {% if(TableColumn.getSize>1) and (TableColumn.getWidth != 'auto') %}
                        <td colspan="{{ TableColumn.getSize }}"
                            style="width:{{ TableColumn.getWidth }};
                                padding: {{ TableColumn.getPadding }};
                                background-color:{{ TableColumn.getBackgroundColor }};
                                color:{{ TableColumn.getColor }};
                                vertical-align:{{ TableColumn.getVerticalAlign }};
                                opacity: {{ TableColumn.getOpacity }};
                                height: {{ TableColumn.getMinHeight }};
                            ">{{ TableColumn }}</td>
                    {% elseif(TableColumn.getSize>1) %}
                        <td colspan="{{ TableColumn.getSize }}" style="
                            padding: {{ TableColumn.getPadding }};
                            background-color:{{ TableColumn.getBackgroundColor }};
                            color:{{ TableColumn.getColor }};
                            vertical-align:{{ TableColumn.getVerticalAlign }};
                            opacity: {{ TableColumn.getOpacity }};
                            height: {{ TableColumn.getMinHeight }};
                        ">{{ TableColumn }}</td>
                    {% elseif(TableColumn.getWidth != 'auto') %}
                        <td style="width:{{ TableColumn.getWidth }};
                            padding: {{ TableColumn.getPadding }};
                            background-color:{{ TableColumn.getBackgroundColor }};
                            color:{{ TableColumn.getColor }};
                            vertical-align:{{ TableColumn.getVerticalAlign }};
                            opacity: {{ TableColumn.getOpacity }};
                            height: {{ TableColumn.getMinHeight }};
                        ">{{ TableColumn }}</td>
                    {% else %}
                        <td style="
                            padding: {{ TableColumn.getPadding }};
                            background-color:{{ TableColumn.getBackgroundColor }};
                            color:{{ TableColumn.getColor }};
                            vertical-align:{{ TableColumn.getVerticalAlign }};
                            opacity: {{ TableColumn.getOpacity }};
                            height: {{ TableColumn.getMinHeight }};
                        ">{{ TableColumn }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
    {% if( FootList is not empty ) %}
        {% for TableFoot in FootList %}
            {% if( TableFoot.getTableRow is not empty) %}
                <tfoot>
                {% for TableRow in TableFoot.getTableRow %}
                    <tr>
                        {% for TableColumn in TableRow.getTableColumn %}
                            <td style="
                                padding: {{ TableColumn.getPadding }};
                                background-color:{{ TableColumn.getBackgroundColor }};
                                color:{{ TableColumn.getColor }};
                                vertical-align:{{ TableColumn.getVerticalAlign }};
                                opacity: {{ TableColumn.getOpacity }};
                                height: {{ TableColumn.getMinHeight }};
                            ">{{ TableColumn }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tfoot>
            {% endif %}
        {% endfor %}
    {% endif %}
</table>