<html>
<head>
    <style type="text/css">
        div.Document {
            position: relative !important;

        }
        div.DocumentPage {
            background-color: rgba(100, 100, 100, 0.05) !important;

            position: relative !important;
            page-break-after: always !important;
            page-break-inside: avoid !important;
        }

        div.DocumentSlice {
            background-color: rgba(150, 100, 100, 0.05) !important;

            position: relative !important;
            margin: 0 auto 10px auto !important;
        }

        div.DocumentSlice:after {
            content: "." !important;
            clear: both !important;
            display: block !important;
            visibility: hidden !important;
            height: 0px !important;
        }

        div.DocumentSlice img {
            width: 100% !important;
            height: auto !important;
        }

        div.DocumentSlice hr {
            margin: 0 !important;
        }

        span.DocumentData {
            color: darkblue !important;
        }

        div.Float.Left {
            float: left !important;
        }

        div.Float.Right {
            float: right !important;
        }

        div.Align.Center {
            text-align: center !important;
        }

        div.Align.Left {
            text-align: left !important;
        }

        div.Align.Right {
            text-align: right !important;
        }

    </style>
</head>
<body>

<div class="Document">
    <div class="DocumentPage">

        <div class="DocumentSlice">
            <div class="Float Left"
                 style="color: darkred !important; font-size: 24px !important; font-weight: bold !important; font-family: monospace !important;">
                MUSTER
            </div>
            <div class="Float Right" style="width: 200px !important;">
                <img src="/Common/Style/Resource/Logo/ClaimFreistaatSachsen.jpg">
            </div>
        </div>

        <div class="DocumentSlice">
            <div class="Align Center">
                <span class="DocumentData">{{ Data.School.Name }}</span>
            </div>
        </div>
        <div class="DocumentSlice">
            <div class="Align Center">
                <span class="DocumentData">{{ Data.School.Type }}</span>
            </div>
        </div>

        <div class="DocumentSlice">
            <hr/>
        </div>

        <div class="DocumentSlice">
            <div class="Align Center" style="color: silver !important;">
                Name der Schule
            </div>
        </div>

        <div class="DocumentSlice">
            <div class="Align Center">
                Zeugnis der <span class="DocumentData">{{ Data.School.Type }}</span>
            </div>
        </div>

        <div class="DocumentSlice">

            <div class="Float Left">
                <div class="Align Left">
                    Klasse: <span class="DocumentData">{{ Data.Division }}</span>
                </div>
            </div>

            <div class="Float Right">
                <div class="Align Right">
                    Schuljahr: <span class="DocumentData">{{ Data.School.Year }}</span>
                </div>
            </div>

        </div>

        <div class="DocumentSlice">
            Vor- und Nachname: <span class="DocumentData">{{ Data.Name }}</span>
        </div>

        <div class="DocumentSlice">
            nahm am Unterricht der Schulart <span class="DocumentData">{{ Data.School.Type }}</span> mit dem Ziel
            des <span
                class="DocumentData">{{ Data.School.Course }}</span> teil
        </div>

    </div>

    <div class="DocumentPage">

        <div class="DocumentSlice">
            <div class="Float Left"
                 style="color: darkred !important; font-size: 24px !important; font-weight: bold !important; font-family: monospace !important;">
                MUSTER
            </div>
            <div class="Float Right" style="width: 200px !important;">
                <img src="/Common/Style/Resource/Logo/ClaimFreistaatSachsen.jpg">
            </div>
        </div>
    </div>
</div>
</body>
</html>
