jQuery.ajax({
    method:"{{ METHOD }}",
    url:"{{ URL }}",
    data:{{ POST }},
    dataType:"json",
    cache: false,
    error: function (request, status, error) {
        // Parse Error
        var ErrorMessage = '';
        if (request.status === 0) {
            ErrorMessage = ('Not connected.\nPlease verify your network connection.');
        } else if (request.status == 404) {
            ErrorMessage = ('The requested page not found. [404]');
        } else if (request.status == 500) {
            ErrorMessage = ('Internal Server Error [500].');
        } else if (status === 'parsererror') {
            ErrorMessage = ('Requested JSON parse failed.');
        } else if (status === 'timeout') {
            ErrorMessage = ('Time out error.');
        } else if (status === 'abort') {
            ErrorMessage = ('Ajax request aborted.');
        } else {
            ErrorMessage = ('Uncaught Error.\n' + request.responseText);
        }
        // Show Error
        var {{ RESPONSE }} = ''
            + ErrorMessage
            + '<br/><span class="text-muted"><small>'
            + 'Url: {{ URL_BASE }}'
            + '<br/>'
            + 'Data: {{ POST }}'
            + '</small></span>'
        jQuery.notify({ message: {{ RESPONSE }} }, {
            newest_on_top: true,
            type: 'danger',
            placement: { from: "top", align: "right" },
            delay: 0,
            offset: 5,
            animate: { enter: 'animated fadeInLeft', exit: 'animated fadeOutLeft' }
        });
    },
    success: function({{ RESPONSE }}){
        {% for Receiver in ReceiverList %}
            {{ Receiver.getHandler }}
        {% endfor %}
        {{ NOTIFY }}
    }
}){{ CALLBACK }};