{% if( ElementIcon is not empty ) %}
<div class="form-group {{ ElementGroup }}">
    {% endif %}
    <div class="checkbox checkbox-primary">
        <input id="{{ ElementHash }}" type="checkbox" name="{{ ElementName }}"
               value="{{ ElementValue }}" {{ ElementChecked }}/>
        {% if( ElementLabel is not empty ) %}
            <label class="sphere-label" for="{{ ElementHash }}">{{ ElementLabel }}</label>
        {% endif %}
        {{ ElementFeedbackIcon }}
    </div>
    {% if( ElementIcon is not empty ) %}
    {{ ElementFeedbackMessage }}
</div>
{% endif %}

<script type="text/javascript">
    Client.Use('ModInputCheckBox', function ()
    {
        var update_Field = function ()
        {
            {% for item in ElementTarget %}
            jQuery('[name="{{ item }}"]').prop("disabled", jQuery('input[name="{{ ElementName }}"]').prop('checked'));
            {% endfor %}
        };

        update_Field();

        jQuery('input[name="{{ ElementName }}"]').on('click', function ()
        {
            update_Field();
        });
    });
</script>