{% if( ElementIcon is not empty ) %}
<div class="form-group {{ ElementGroup }}">
    {% endif %}
    <div class="radio radio-primary">
        {% if( ElementIcon is not empty ) %}
            <span class="input-group-addon">
                {{ ElementIcon }}
            </span>
        {% endif %}
        <input id="{{ ElementHash }}" type="radio" name="{{ ElementName }}"
               value="{{ ElementValue }}" autocomplete="off"/>
        {% if( ElementLabel is not empty ) %}
            <label for="{{ ElementHash }}">{{ ElementLabel }}</label>
        {% endif %}
        {{ ElementFeedbackIcon }}
    </div>
    {% if( ElementIcon is not empty ) %}
    {{ ElementFeedbackMessage }}
</div>
{% endif %}
