{% for LayoutGroup in Layout %}
    {% if( LayoutGroup.getLayoutTitle is not empty ) %}
        {{ LayoutGroup.getLayoutTitle }}
    {% endif %}
    {% for LayoutRow in LayoutGroup.getLayoutRow %}
        <div class="row{% if(LayoutRow.IsSortable) %} {{ LayoutRow.IsSortable }}{% endif %}">
            {% for LayoutColumn in LayoutRow.getLayoutColumn %}
                <div class="col-md-{{ LayoutColumn.getSize }}">
                    {% for AbstractFrontend in LayoutColumn.getFrontend %}
                        {{ AbstractFrontend }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% if(LayoutRow.IsSortable) %}
            <script>
                Client.Use( 'ModSortable', function()
                {
                    jQuery( 'div.row.{{ LayoutRow.IsSortable }}' ).ModSortable( {
                        containment: "parent",
                        cursor: "move",
                        forceHelperSize: true,
                        forcePlaceholderSize: true,
                        opacity: 0.5,
                        tolerance: "pointer",
                        cursorAt: {left: 5}
                    } );
                } );
            </script>
        {% endif %}
    {% endfor %}
{% endfor %}
