<form {% if( Hash is not empty ) %}id="{{ Hash }}"{% endif %}
      action="{{ FormAction }}{{ FormData }}{% if( Hash is not empty ) %}#{{ Hash }}{% endif %}"
      method="post"
      enctype="multipart/form-data"
      data-toggle="validator"
      role="form"
      {% if( AjaxEventSubmit is not empty ) %} class="AjaxSubmit"{% endif %}
    >
    {% for FormGroup in GridGroupList %}
        {% if( FormGroup.getFormTitle is not empty ) %}
            {{ FormGroup.getFormTitle }}
        {% endif %}
        {% for FormRow in FormGroup.getFormRow %}
            <div class="row{% if(FormRow.IsSortable) %} {{ FormRow.IsSortable }}{% endif %}">
                {% for FormColumn in FormRow.getFormColumn %}
                    <div class="col-md-{{ FormColumn.Size }}">
                        {% for GridElement in FormColumn.getFrontend %}
                            {{ GridElement }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% if(FormRow.IsSortable) %}
            <script>
                //noinspection JSUnresolvedFunction
                executeScript(function()
                {
                    Client.Use('ModSortable', function()
                    {
                        jQuery('div.row.{{ FormRow.IsSortable }}').ModSortable({
                            containment: "parent",
                            cursor: "move",
                            forceHelperSize: true,
                            forcePlaceholderSize: true,
                            opacity: 0.5,
                            tolerance: "pointer",
                            cursorAt: {left: 5}
                        });
                    });
                });
            </script>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if( FormButtonList|length > 0) %}
        <br/>
        <div class="form-group">
            <div class="btn-group">
                {% for FormButton in FormButtonList %}
                    {{ FormButton }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</form>
<script type="text/javascript">
    //noinspection JSUnresolvedFunction
    executeScript(function()
    {
        Client.Use('ModForm', function()
        {
            jQuery("form#{{ Hash }}").ModForm({
                {% if FormConfirm is not empty %}notifyChangedMessage: "{{ FormConfirm }}"{% else %}notifyChangedField: false{% endif %}
                {% if EnableSaveDraft is not empty %},saveDraftData: {{ EnableSaveDraft }}{% endif %}
            });
            {% if( DisableSubmitAction is not empty ) %}
            jQuery("form#{{ Hash }}").on('submit', function (Event) {
                Event.preventDefault();
            });
            {% endif %}
            {% if( AjaxEventSubmit is not empty ) %}
            Client.Use('ModAjax', function() {
                jQuery("form#{{ Hash }}").on('submit', function (Event) {
                    Event.preventDefault();
                    {{ AjaxEventSubmit }}
                });
            });
            {% endif %}
        });
    });
</script>
