<!doctype html>
<html>
<head>
    <title>KREDA Professional{{ SeoTitle }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KREDA Professional"/>
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
    {{ ManagerStyle }}
    {#<link rel="shortcut icon" type="image/x-icon" href="{{ PathBase }}/favicon.ico"/>#}
    {#<link rel="apple-touch-icon" href="{{ PathBase }}/apple-touch-icon.png"/>#}
    <script src="{{ PathBase }}/Common/Script/Loader.js"></script>
    {{ ManagerScript }}
</head>
<body>

<!-- Navigation (Level:Cluster/Service) -->
<nav class="navbar navbar-inverse" role="navigation"
     style="border-radius: inherit; margin: inherit;">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#LevelClient"
                aria-expanded="false" aria-controls="navbar">
                <span class="pull-left">
                    <a>{{ BreadcrumbCluster }}</a>{% if( BreadcrumbCluster is not empty ) %}&nbsp;{% endif %}
                </span>
                <span class="pull-right">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">KREDA&nbsp;
                <span style="color: #FF0000; font-weight: bolder;">DEMO</span>&nbsp;
                <span style="color: #FF0000; font-size: x-small;">Ansicht & Feedback</span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="LevelClient" style="border-color: transparent;">
            <ul class="nav navbar-nav navbar-left">
                {{ NavigationCluster }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{ NavigationService }}
            </ul>
        </div>
    </div>
</nav>

{% if( NavigationApplication is not empty ) %}
    <!-- Navigation (Level:Application) -->
    <nav class="navbar navbar-default" role="navigation"
         style="border-radius: inherit; margin: inherit; border-width: 0; border-bottom-width: 1px;">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#LevelApplication"
                    aria-expanded="false" aria-controls="navbar">
                <span class="pull-left">
                    <a>{{ BreadcrumbApplication }}</a>{% if( BreadcrumbApplication is not empty ) %}&nbsp;{% endif %}
                </span>
                <span class="pull-right">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <div class="navbar-collapse collapse" id="LevelApplication" style="border-color: transparent;">
                <ul class="nav navbar-nav navbar-left">
                    {{ NavigationApplication }}
                </ul>
            </div>
        </div>
    </nav>
{% endif %}

{% if( NavigationModule is not empty ) %}
    <!-- Navigation (Level:Module) -->
    <nav class="navbar navbar-default" role="navigation"
         style="border-radius: inherit; margin: inherit; border-width: 0; border-bottom-width: 1px;">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#LevelModule"
                    aria-expanded="false" aria-controls="navbar">
                <span class="pull-left">
                    <a>{{ BreadcrumbModule }}</a>{% if( BreadcrumbModule is not empty ) %}&nbsp;{% endif %}
                </span>
                <span class="pull-right">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <div class="navbar-collapse collapse" id="LevelModule" style="border-color: transparent;">
                <ul class="nav navbar-nav navbar-left">
                    {{ NavigationModule }}
                </ul>
            </div>
        </div>
    </nav>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-xs-12">
            {#<div class="col-xs-12">#}
            {{ Content }}
        </div>
    </div>
</div>

<div class="container-fluid hidden-print">
    <div class="row">
        <div class="col-xs-12 small" style="border-top: 1px solid #E7E7E7;">
            <div class="text-center small" style="padding: 5px;">
                Mandant: {{ Consumer }}
                <br/>
                © 2014 - {{ "now"|date("Y") }} | Erstellt in {{ DebuggerRuntime }} | {{ DebuggerHost }}
                <br/>
                <a href="/Roadmap/Current">Version 0.8.0.1</a>

                <div class="text-left">
                    {{ DebuggerProtocol }}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    Client.Use('ModAlways', function()
    {
        jQuery().ModAlways();

    });
    //    var Host = jQuery('<a>').prop('href', window.location).prop('hostname');

    <!-- Piwik -->
    var _paq = _paq || [];
    _paq.push(["setDoNotTrack", true]);
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function()
    {
        var u = "/Library/Piwik/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
    <!-- End Piwik Code -->
</script>
</body>
</html>


