<div>
    <small>Sollten Sie nicht automatisch weitergeleitet werden, klicken Sie bitte hier</small>
    <br/><br/>
    <a href="{{ UrlBase }}{{ Route }}" class="btn btn-default">Weiter
        {% if(Timeout is not empty and Timeout > 1 ) %}
            <span class="text-muted small">(<span class="ModCountDown"></span>)</span>
        {% endif %}
    </a>
</div>
<br/>
<br/>
<script language=javascript>
    //noinspection JSUnresolvedFunction
    executeScript(function()
    {
        Client.Use('ModCountDown', function()
        {
            {% if Timeout is not empty %}
            jQuery('span.ModCountDown').ModCountDown('{{ Timeout }}');
            {% endif %}
        });
        setTimeout("location.href='{{ UrlBase }}{{ Route }}'", {{ Timeout }}000);
    });
</script>
