<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-xs-12">
            <h3>{{ StageTitle }}
                <small>{{ StageDescription }}</small>
            </h3>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 text-left">
                    {% if StageMessage is not empty %}
                        <div>{{ StageMessage }}</div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 visible-sm visible-md visible-lg text-right">
                    {% if StageMenu is not empty %}
                        <div class="btn-group">
                            {% for Button in StageMenu %}
                                {{ Button }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if (StageMessage is not empty) or (StageMenu is not empty) %}
                <hr/>
            {% endif %}
            {{ StageContent }}
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<br/>
